#canvas1{
  border: 3px solid black;
  position: absolute;
  width: 400px;
  height: 900px;
}

#canvas2{
  border: 3px solid black;
  position: absolute;
  width: 400px;
  height: 900px;
  left: 25%; 
}

#canvas3{
  border: 3px solid black;
  position: absolute;
  width: 400px;
  height: 900px;
  left: 50%; 
}

#canvas4{
  border: 3px solid black;
  position: absolute;
  width: 400px;
  height: 900px;
  left: 75%; 
}